.offersection{
    height: 100vh;
    background: url(https://greengrub-theme.myshopify.com/cdn/shop/files/L01-offer_19079c23-381d-4fed-bb71-832fbe9b370a.webp?v=1706683175&width=3000) no-repeat;
    background-position: center;
    background-size: cover;
}