.card-slider {
  margin: 0 auto;
}

.card {
  background: #f4f4f4; /* Light background for cards */
  transition: transform 0.3s; /* Smooth transition */
}

.card:hover {
  transform: scale(1.05); /* Scale up on hover */
}
.bg-green{
    background-color: #519b4c;
}

.bx-shadow{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



/* small screen media query  */
@media (max-width: 480px) and (min-width:320px){
    .help{
        display: none;
    }
    .topHeader{
        justify-content: center;
    }
}